{% include 'landingv2/_head.html' %}
<body class="ayur-bg min-h-screen">
    {% include 'landingv2/_header.html' %}
    <div class="content-layer">
        {% include 'landingv2/_hero.html' %}
        {% include 'landingv2/_evidence.html' %}
        {% include 'landingv2/_business_rationale.html' %}
        {% include 'landingv2/_key_outcomes.html' %}
        {% include 'landingv2/_course_architecture.html' %}
        {% include 'landingv2/_whats_included.html' %}
        {% include 'landingv2/_credibility.html' %}
        {% include 'landingv2/_testimonials.html' %}
        {% include 'landingv2/_enroll_cta.html' %}
    </div>

    {% include 'landingv2/_scripts.html' %}

